/benchmarks/
/* /spell */
/.vault.vim
/* /.local.vimrc */
*~
/.stignore
/.stfolder
/.stversions
/undodir
undodir
mappings2diff.vim
mappings2diff.vimX
*startup*log
swoopBuf
*.netrwhist
autoload/plug.vim.old
history.log
plugged/
.ipynb_checkpoints/